.about {
    @extend .section;
    padding-top: 0;
}
.about__container {
    @extend .container;
    text-align: center;
    margin: 0 auto;
}
.about__title {
    display: block;
    margin-bottom: 50px;
    @include font(36px, 700, 1.17);
    text-align: center;
    letter-spacing: 0.03em;
}
.about-list {
    @extend.list;
    display: flex;
}
.about-list__item:not(:last-child) {
    margin-right: 30px;
}
.about-signature {
   display: flex;
   position: relative; 
}
.about-signature__text {
    display: flex;
    background-color: var(--backround-about);
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    @include font(14px, 700, 1.14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--lite-text-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
