.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color);
}
.footer__container {
  @extend .container;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.footer-adaptiv {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-adaptiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adaptiv {
    align-items: baseline;
  }
}
.footer-contakt {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-contakt {
    margin-bottom: 0;
  }
}
.footer-contakt__address {
  margin-top: 20px;
}
.footer-list {
  @extend .list;
}
.footer-link-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--lite-text-color);
}

.footer-link {
  @extend .link;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  @extend .link;
  width: 145px;
  font-family: "Raleway", sans-serif;
  @include font(24px, 700, 0.85);
  letter-spacing: 0.03em;
  color: var(--lite-text-color);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-family: "Raleway", sans-serif;
    @include font(26px, 700, 1.19);
  }
}
// .footer-logo {
//   @extend .link;
//   width: 145px;
//   font-family: "Raleway", sans-serif;
//   @include font(26px, 700, 1.19);
//   letter-spacing: 0.03em;
//   color: var(--lite-text-color);
// }
.footer-list__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-soc {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-soc__icon {
    margin-left: 70px;
  }
}
.footer-strong {
  display: block;
  @include font(14px, 700, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lite-text-color);
  margin-bottom: 20px;
}
.footer-soclist {
  @extend .list;
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer-soclist__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.footer-soclist__item:last-child {
  margin-right: 0;
}
.footer-soclist__link {
  @extend .link;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--lite-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: bacground-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soclist__link:focus,
.footer-soclist__link:hover {
  background-color: var(--accent-color);
  color: var(--lite-text-color);
}
.footer-subscribe__container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__container {
    margin-left: auto;
  }
}

.subscribe-email {
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-email {
    display: flex;
    justify-content: left;
  }
}

.subscribe-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--footer-border);
  border-radius: 4px;
  padding: 15px 0;
  padding-left: 16px;
  color: var(--subscribe-text);
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.15));
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-bottom: 0;
  }
}
.subscribe-input:focus {
  border: 1px solid var(--accent-color);
}
.main-button__subscribe {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .main-button__subscribe {
    margin-left: 12px;
  }
}

.main-button__svg {
  display: flex;
  margin-left: 10px;
  fill: currentColor;
}
