:root {
    --title-secondary-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --lite-text-color: #ffffff;
    --logo-color: #000000;
    --background-section: #F5F4FA;
    --section-color: #2F303A;
    --border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --backround-about: rgba(47, 48, 58, 0.8);
    --background-overwlof: rgba(33, 150, 243, 0.9);
    --backdrop: rgba(0, 0, 0, 0.2);
    --border-modal-button: rgba(0, 0, 0, 0.1);
    --footer-border: rgba(255, 255, 255, 0.3);
    --subscribe-text: rgba(255, 255, 255, 0.6);
    --border-modal-form: rgba(33, 33, 33, 0.2);
    --comments-text: rgba(117, 117, 117, 0.5);
    }